body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222831;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg :#222831;
  --nav-bg :#454B54;
}
